.profile_wrapper {
    display: flex;
    flex-direction: column;
}

.profile__inner_wrapper {
    display: flex;
    flex-direction: row;
}

.profile__info_wrapper {
    width: 55%;
    padding-left: 10px;
}

.profile__info_wrapper > * {
    padding: 5px;
}
